# Build and Release Folders
build/
target/
out/
*.class
*.iml
.idea/
.settings/

# Gradle temporary files
.gradle/

# jEdit garbage
*~
*#*#
*#*.*#
/bin/

# Asset bundles, large and better distributed via SquidSetup
assets.tar.gz
assets.zip
