# Build and Release Folders
squidlib/nbproject/
build/
libgdx libraries/
target/
*.class
*.iml
.idea/
.settings/
.classpath
.project

*.jar

# javadoc
*.html
*.css


# jEdit garbage
*~
*#*#
*#*.*#
/bin/
